<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!--/** Change page layout class names on body tag */-->
    <type name="Magento\Framework\View\Page\Config">
        <plugin name="fishpig-theme" type="FishPig\ThemeApp\Plugin\Magento\Framework\View\Page\ConfigPlugin"/>
    </type>
    <!--/** Allow empty htmlTag and htmlClass attributes */-->
    <type name="Magento\Framework\View\Model\Layout\Update\Validator">
        <plugin name="fishpig-theme" type="FishPig\ThemeApp\Plugin\Magento\Framework\View\Model\Layout\Update\ValidatorPlugin"/>
    </type>
    <!--/** Change favicon URLs */-->
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="fishpig-theme" type="FishPig\ThemeApp\Plugin\Magento\Framework\View\Page\Config\RendererPlugin"/>
    </type>
    <!--/** CSP cleanup */-->
    <type name="Magento\Csp\Model\Collector\CspWhitelistXml\Data">
        <plugin name="fishpig-theme" type="FishPig\ThemeApp\Plugin\Magento\Csp\Model\Collector\CspWhitelistXml\DataPlugin"/>
    </type>
    <!--/** Stop visitor logging */-->
    <type name="Magento\Customer\Model\Visitor">
        <plugin name="fishpig-theme" type="FishPig\ThemeApp\Plugin\Magento\Customer\Model\VisitorPlugin"/>
    </type>
    <!--/* Allow reverting no_js handle */-->
    <preference for="Magento\Framework\View\Model\Layout\Merge" type="FishPig\ThemeApp\Framework\View\Model\Layout\Merge"/>
    <!--/* Example of how to remove no_js handle for a specific route */ -->
    <!--<type name="FishPig\ThemeApp\Framework\View\Layout\Update\RemoveHandleByRoute">
        <arguments>
            <argument name="handleRouteMap" xsi:type="array">
                <item name="no_js::customer_account_edit" xsi:type="array">
                    <item name="handle" xsi:type="string">no_js</item>
                    <item name="route" xsi:type="string">customer_account_edit</item>
                </item>
            </argument>
        </arguments>
    </type>-->
    <type name="Magento\Framework\App\RouterList">
        <arguments>
            <argument name="routerList" xsi:type="array">
                <item name="fishpig-theme-app" xsi:type="array">
                    <item name="class" xsi:type="string">FishPig\ThemeApp\Controller\Router</item>
                    <item name="disable" xsi:type="boolean">false</item>
                    <item name="sortOrder" xsi:type="string">1</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>
